.search {
    display: flex;
    justify-content: top;
    align-items: top;
    flex-direction: column;
    margin-top: 10px;
       
}

input{
    width: 360px;
    height: 44px;
    color: rgb(5, 5, 5);
    padding-left:10px;
    font-size: 20px;
}
h1{
    color: rgb(8, 8, 8);
}

.buttonColor{
    background-color: black;
    color: red;
}
.home {
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
  /* align-items: left; */
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.show {
    display: flex;
    width: 100%;
  }